.App {
  margin-top: 100px;
  margin-left: 100px;
}

.app-container {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-family: 'VT323', monospace;
  margin-top: 0px;
  font-size: 3.5rem;
}

.meme-display-container {
  margin-right: 190px;
}

.meme-image {
  object-fit: cover;
  height: 450px;
  width: 450px;
}

.meme-text {
  font-size: 2rem;
}
